In [4]:
import numpy as np

In [3]:
# сгенерить рандомные числа для затравки случайности гпсс
np.random.seed(234123)
np.round(np.random.rand(4) * 10000000, 0)
for i in range(0, 20):
    np.random.seed(i * i * 100 - i * 23 + 23)
    a = np.round(np.random.rand(4) * 10000000, 0)
    print("RMULT ", end='')
    for g in a:
        print(f"{int(g)}, ", end='')
    print()

RMULT 5172979, 9469626, 7654598, 2823958,
RMULT 5434049, 2783694, 4245176, 8447761,
RMULT 1184841, 5209490, 5218728, 8211005,
RMULT 5175444, 8128924, 365192, 5126712,
RMULT 4716132, 8172305, 4052273, 3877967,
RMULT 5007714, 2420424, 4546119, 9585569,
RMULT 7663868, 1079002, 149992, 9107074,
RMULT 2097794, 1256779, 624108, 7823031,
RMULT 4495781, 6788391, 3897248, 5182450,
RMULT 1992136, 5280163, 6309680, 4218898,
RMULT 417483, 6267724, 9756208, 8844493,
RMULT 8038058, 9563251, 3286474, 2488633,
RMULT 2711404, 6698774, 3942332, 4356797,
RMULT 9801535, 257489, 7621974, 304627,
RMULT 4599893, 832274, 9083731, 5641024,
RMULT 8605589, 341040, 1480367, 3610990,
RMULT 2991505, 8676789, 1773092, 3143011,
RMULT 795147, 5645931, 4912870, 5135887,
RMULT 7341205, 6471129, 3721273, 787848,
RMULT 1907465, 2884323, 5191840, 3608852,

In [1]:
import pandas as pd 
data = pd.read_csv("report.csv")
data.head()

   Unnamed: 0  STANOK1  STANOK2  STANOK3
0           0    0.155    0.157    0.159
1           1    0.175    0.177    0.176
2           2    0.165    0.164    0.166
3           3    0.175    0.176    0.176
4           4    0.168    0.168    0.170

In [2]:
columns=data.columns
columns

Index(['Unnamed: 0', 'STANOK1', 'STANOK2', 'STANOK3'], dtype='object')

Функция решатель для отчета лабы

In [7]:
def mean_disp(arr: np.array):
    mean = arr.mean()
    disp =  (arr - mean) ** 2
    disp = np.sum(disp) / ( arr.shape[0] - 1)
    return (mean, disp)

In [14]:
mean1, disp1 = mean_disp(data[columns[2]])
print(mean1, disp1)

0.1709 2.9884210526315795e-05