In [1]:
import numpy as np

In [47]:
import pandas as pd 
data = pd.read_csv("report.csv")
data.head()

,Unnamed: 0,Оценка мат. ожидания N = 5,Оценка дисперсии N = 5,Оценка мат. ожидания N = 20,Оценка дисперсии N = 20
0,STANOK1,0.1676,0.000069,0.17025,0.000027
1,STANOK2,0.1684,0.000070,0.17090,0.000030
2,STANOK3,0.1694,0.000052,0.17140,0.000023

In [52]:
columns=data.columns
columns
data.index = ['3', '4' , '3']
data.index

Index(['3', '4', '3'], dtype='object')

Функция решатель для отчета лабы

In [6]:
def mean_disp(arr: np.array):
    mean = arr.mean()
    disp =  (arr - mean) ** 2
    disp = np.sum(disp) / ( arr.shape[0] - 1)
    return (mean, disp)

In [28]:
means_disps = \
    pd.DataFrame(columns=["Оценка мат. ожидания N = 5", "Оценка дисперсии N = 5", "Оценка мат. ожидания N = 20", "Оценка дисперсии N = 20"])

for i in columns:
    arr = data[i]
    row = []
    for g in (5, 20):
        arrg = arr[:g]
        meang, dispg = mean_disp(arrg)
        row.extend((meani, dispi))
    print(f"row for stanok {i} : {row}")
    means_disps = means_disps.append(dict(zip(means_disps.columns, row)), ignore_index = True)
means_disps.index = columns
means_disps.to_csv("test.csv", sep=",", index=True)

row for stanok STANOK1 : [0.17139999999999997, 2.3094736842105312e-05, 0.17139999999999997, 2.3094736842105312e-05]
row for stanok STANOK2 : [0.17139999999999997, 2.3094736842105312e-05, 0.17139999999999997, 2.3094736842105312e-05]
row for stanok STANOK3 : [0.17139999999999997, 2.3094736842105312e-05, 0.17139999999999997, 2.3094736842105312e-05]

In [ ]:
1, 0.391

In [16]:
fr = pd.DataFrame(columns=['d', 'df', 'gf'])

In [19]:
fr.append([3, 4, 2], ignore_index=True)

     d   df   gf    0
0  NaN  NaN  NaN  3.0
1  NaN  NaN  NaN  4.0
2  NaN  NaN  NaN  2.0

In [21]:
dict(zip(fr.columns, [3, 4, 2]))

{'d': 3, 'df': 4, 'gf': 2}

In [32]:
pd.read_csv("test.csv", sep=",", index_col=0)

,Оценка мат. ожидания N = 5,Оценка дисперсии N = 5,Оценка мат. ожидания N = 20,Оценка дисперсии N = 20
STANOK1,0.1714,0.000023,0.1714,0.000023
STANOK2,0.1714,0.000023,0.1714,0.000023
STANOK3,0.1714,0.000023,0.1714,0.000023

In [37]:
a = np.array([1, 3, 4, 5, 7, 2, 3])
print((a[:2] - a[:2].mean()) ** 2)
print(a[:3].mean())

[1. 1.]
2.6666666666666665

Доверительный интервал

In [2]:
import pandas as pd

In [4]:
conf = pd.read_csv("confidence_interval.csv", index_col=0)
conf

,0.40,0.25,0.10,0.05,0.025,0.01,0.005,0.0005
ν/(α/2),,,,,,,,
1.0,0.324920,1.000000,3.077684,6.313752,12.70620,31.82052,63.65674,636.6192
2.0,0.288675,0.816497,1.885618,2.919986,4.30265,6.96456,9.92484,31.5991
3.0,0.276671,0.764892,1.637744,2.353363,3.18245,4.54070,5.84091,12.9240
4.0,0.270722,0.740697,1.533206,2.131847,2.77645,3.74695,4.60409,8.6103
5.0,0.267181,0.726687,1.475884,2.015048,2.57058,3.36493,4.03214,6.8688
6.0,0.264835,0.717558,1.439756,1.943180,2.44691,3.14267,3.70743,5.9588
7.0,0.263167,0.711142,1.414924,1.894579,2.36462,2.99795,3.49948,5.4079
8.0,0.261921,0.706387,1.396815,1.859548,2.30600,2.89646,3.35539,5.0413
9.0,0.260955,0.702722,1.383029,1.833113,2.26216,2.82144,3.24984,4.7809
10.0,0.260185,0.699812,1.372184,1.812461,2.22814,2.76377,3.16927,4.5869
11.0,0.259556,0.697445,1.363430,1.795885,2.20099,2.71808,3.10581,4.4370
12.0,0.259033,0.695483,1.356217,1.782288,2.17881,2.68100,3.05454,4.3178
13.0,0.258591,0.693829,1.350171,1.770933,2.16037,2.65031,3.01228,4.2208
14.0,0.258213,0.692417,1.345030,1.761310,2.14479,2.62449,2.97684,4.1405
15.0,0.257885,0.691197,1.340606,1.753050,2.13145,2.60248,2.94671,4.0728
16.0,0.257599,0.690132,1.336757,1.745884,2.11991,2.58349,2.92078,4.0150
17.0,0.257347,0.689195,1.333379,1.739607,2.10982,2.56693,2.89823,3.9651
18.0,0.257123,0.688364,1.330391,1.734064,2.10092,2.55238,2.87844,3.9216
19.0,0.256923,0.687621,1.327728,1.729133,2.09302,2.53948,2.86093,3.8834
20.0,0.256743,0.686954,1.325341,1.724718,2.08596,2.52798,2.84534,3.8495
21.0,0.256580,0.686352,1.323188,1.720743,2.07961,2.51765,2.83136,3.8193
22.0,0.256432,0.685805,1.321237,1.717144,2.07387,2.50832,2.81876,3.7921
23.0,0.256297,0.685306,1.319460,1.713872,2.06866,2.49987,2.80734,3.7676
24.0,0.256173,0.684850,1.317836,1.710882,2.06390,2.49216,2.79694,3.7454
25.0,0.256060,0.684430,1.316345,1.708141,2.05954,2.48511,2.78744,3.7251
26.0,0.255955,0.684043,1.314972,1.705618,2.05553,2.47863,2.77871,3.7066
27.0,0.255858,0.683685,1.313703,1.703288,2.05183,2.47266,2.77068,3.6896
28.0,0.255768,0.683353,1.312527,1.701131,2.04841,2.46714,2.76326,3.6739
29.0,0.255684,0.683044,1.311434,1.699127,2.04523,2.46202,2.75639,3.6594
30.0,0.255605,0.682756,1.310415,1.697261,2.04227,2.45726,2.75000,3.6460
inf,0.253347,0.674490,1.281552,1.644854,1.95996,2.32635,2.57583,3.2905

In [43]:
conf.loc[conf.index == 3, conf.columns.astype('float64') == 0.1]
confidence_table.loc[ confidence_table.index == 3][ confidence_table.columns.astype('float64') == acc ]

             0.10
ν/(α/2)
3.0      1.637744

In [45]:
def find_t(confidence_table, N, accuracy):
    acc = accuracy / 2
    v = N - 1
    return confidence_table.loc[ confidence_table.index == v, confidence_table.columns.astype('float64') == acc ]

def confidence_interval(accuracy, arr):
    mean, disp = mean_disp(arr)
    t = find_t(conf, arr.shape[0])
    diff = t * sqrt(disp / arr.shape[0])

t(conf, 4, 0.1)

             0.05
ν/(α/2)
3.0      2.353363

In [53]:
for i in raw_columns:
    framei = pd.DataFrame(columns=["N = 5", "N = 20"])
    columns = framei.columns
    new_table = []
    def create_row(column, accuracy):
        arr = raw_data[column]
        row = []
        for i in [5, 20]:
            teta = confidence_interval(accuracy, arr[:i])
            row.extend((teta))
        row = dict(zip(columns, row))
        framei.append(row, ignore_index=True)
    map(lambda x: create_row(i, x), [0.1, 0.05])
    framei.index = ['acc 0.1', 'acc 0.05']
    framei.to_csv(f"stanok_conf_{i}.csv", sep=',', index=True)

NameError: name 'raw_columns' is not defined

In [56]:
row = []
row.append((3, 4))
row

[(3, 4)]

In [70]:
print(conf.loc[ conf.index == 4, conf.columns.astype('float64') == 0.05 ].to_numpy()[0][0])

2.131847